/* CSS for Flask/GIS app */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


*, *before, *:after{
    box-sizing: border-box;
    border-radius: 25px;

}

body{
    font-family: Roboto;
}

label{
    font-weight: bold;
    color: blue;
}

p{
    color: red;

}

input[type=text] {
    padding: 10px;
    width: 100%;


}

.container{
    border: 2px solid blue;
    float: left;
    width: 50%;
    padding: 5px;
    margin: 4px 2px;
    position: relative;
    border-radius: 25px;


}

input[type=button], input[type=submit]{
    background-color: blue;
    color: white;
    border: none;

    cursor: pointer;
    border-radius: 18px;
    width: 100%;

}

.response-block{
}