<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
</head>
<body>

<div class="Messages">
	{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</div>


<div class="Container">
	{% block content %}
	<form action="/" method="POST" role="form"/>
		{{ form.hidden_tag() }}

		<label for="street">Address Line 1 </label>{{ form.street }} </p>
		<label for="address_line2">Address Line 2 </label> {{  form.address_line2  }}</p>
		<label for="city">City </label>{{ form.city }}</p>
		<label for="state">State </label>{{ form.state }}</p>
		<label for="zip">Zip Code </label>{{ form.zip }}</p>
		<label for="zip">Zip Code + 4 </label>{{ form.zip4 }}</p>

		<input type="submit" value="Geocode!"/>
	</form>
	{% endblock %}

</div>

<div class="Error">
	{% if form.errors %}
		{{ form.errors }}
	{% endif %}
</div>

</body>

</html>